@charset "UTF-8";
/* CSS Document */
@font-face {
  font-family: 'Lora-Bold';
  src: url('../font/Lora-Bold.ttf');
}
@font-face {
  font-family: 'Lora-Italic';
  src: url('../font/Lora-Italic.ttf');
}
@font-face {
  font-family: 'Lora-Medium';
  src: url('../font/Lora-Medium.ttf');
}
@font-face {
  font-family: 'Lora-Regular';
  src: url('../font/Lora-Regular.ttf');
}
@font-face {
  font-family: 'Lora-SemiBold';
  src: url('../font/Lora-SemiBold.ttf');
}
@font-face {
  font-family: 'NotoSerifJP-Bold';
  src: url('../font/NotoSerifJP-Bold.otf');
}
@font-face {
  font-family: 'NotoSerifJP-Light';
  src: url('../font/NotoSerifJP-Light.otf');
}
@font-face {
  font-family: 'NotoSerifJP-Medium';
  src: url('../font/NotoSerifJP-Medium.otf');
}
@font-face {
  font-family: 'NotoSerifJP-Regular';
  src: url('../font/NotoSerifJP-Regular.otf');
}
@font-face {
  font-family: 'NotoSerifJP-SemiBold';
  src: url('../font/NotoSerifJP-SemiBold.otf');
}
* {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  color: #1a1918;
  font-family: 'Lora-Regular', 'NotoSerifJP-Regular', serif;
  background: #fff;
  line-height: 1.5;
  letter-spacing: 0.05em;
  -webkit-text-size-adjust: 100%;
}
img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

.inner {
  width: 82.71vw;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 80px;
  background-color: rgba(85, 40, 98, 0.4);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
header h1 {
  width: 35.747%;
  margin: 20px;
  height: 40px;
}
header .coverlayer {
  opacity: 0;
}
header .btnHamburger {
  position: relative;
  width: 34px;
  height: 20px;
  margin: 30px 20px 0 0;
  cursor: pointer;
}
header .btnHamburger .line {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 34px; /* 横幅 */
  height: 1px; /* 1本辺りの高さ */
  background: #fff; /* 線の色 */
  /* 適用するプロパティ、変化する時間、変化する速度 */
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* 3本線の各線の位置を指定 */
header .btnHamburger .line_01 {
  top: 0;
}
header .btnHamburger .line_02 {
  top: 10px;
}
header .btnHamburger .line_03 {
  top: 20px;
}
nav {
  display: none;
}
.topPage #top_main {
  width: 100%;
  height: 84.806vh;
  position: relative;
}
.topPage #top_main .top_main_movie {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.topPage #top_main .top_main_movie video {
  /* 縦いっぱい sp, tablet */
  width: calc(2156 / 1440 * 84.806vh);
  filter: brightness(55%);
}
.topPage #top_main .inner {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 8.644%;
  transform: translateY(-50%);
}
.topPage #top_main h1 {
  margin-bottom: 57px;
}
.topPage #top_main p {
  color: #fff;
  font-size: 18px;
  font-family: 'NotoSerifJP-SemiBold';
}

article#message {
  background: linear-gradient(#6a387a 0%, #eadcee 100%);
  padding: 30px 0 80px;
}
article#message h2 {
  font-size: 24px;
  color: #eadcee;
  font-family: 'Lora-SemiBold';
  text-align: center;
  letter-spacing: 0.1em;
  margin-bottom: 17.5px;
}
article#message .scroll {
  margin-bottom: 49.5px;
  text-align: center;
  position: relative;
}
article#message .scroll_line {
  stroke-dasharray: 47px;
  animation: strokeLine 3.2s linear infinite;
}
article#message .scroll::after {
  content: 'scroll';
  color: #eadcee;
  font-size: 10px;
  font-family: 'Lora-SemiBold';
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translateY(-50%);
}
@keyframes strokeLine {
  0% {
    stroke-dashoffset: 47px;
  }
  80% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
article#message section h3 {
  font-size: 23px;
  text-align: center;
  font-family: 'NotoSerifJP-Bold';
  margin-bottom: 40px;
  color: #552862;
  letter-spacing: 0.05em;
  text-shadow: 0px 0px 15px #fff, 0px 0px 30px #fff;
}
article#message section p {
  color: #552862;
  font-family: 'NotoSerifJP-Medium';
  letter-spacing: 0.05em;
  margin-bottom: 1em;
  text-shadow: 0px 0px 15px #fff, 0px 0px 30px #fff;
  text-align: justify;
}
article#about_service,
article#ask,
article#introduce,
article#price,
article#how_to_use {
  padding: 80px 0;
}
article#about_service h2,
article#introduce h2,
article#price h2,
article#how_to_use h2 {
  font-family: 'NotoSerifJP-Bold';
  font-size: 24px;
  color: #552862;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
}
article#about_service h2 span,
article#introduce h2 span,
article#price h2 span,
article#how_to_use h2 span {
  display: block;
  font-size: 12px;
  font-family: 'Lora-SemiBold';
  letter-spacing: 0.05em;
}
article#about_service {
  background-color: #eadcee;
  transform: translateY(-1px);
}
article#about_service p {
  margin-bottom: 76px;
}
article#about_service section {
  background-color: #fff;
  padding: 50px 0;
  margin-bottom: 71px;
  position: relative;
}
article#about_service section:last-of-type {
  margin-bottom: 0;
}
article#about_service section .number {
  font-size: 57px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-60%);
  font-family: 'Lora-Italic';
  display: inline-block;
  background: linear-gradient(145deg, #1e3cb4 0%, #6a83e5 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
article#about_service section .service_image {
  width: 56.775vw;
  height: 41.121vw;
  margin: 0 auto 20px;
}
article#about_service section .service_image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
article#about_service section .service_detail {
  width: 57.242vw;
  margin: 0 auto;
}
article#about_service section h3 {
  text-align: center;
  font-size: 18px;
  font-family: 'NotoSerifJP-SemiBold';
  margin-bottom: 20px;
  letter-spacing: 0.04em;
}
article#about_service section ul li {
  font-size: 13px;
  margin-bottom: 1em;
  background: url('../images/about_service/list-point.svg') left 0px top 0px no-repeat;
  background-size: 20px auto;
  padding-left: 2em;
}
article#ask {
  background: #162d87;
}
article#ask h2 {
  color: #d7def8;
  font-size: 25px;
  font-family: 'NotoSerifJP-Bold';
  text-align: center;
  width: 9em;
  padding: 10px 0;
  margin: 0 auto 60.5px;
  text-shadow: 0px 0px 10px #edf0fc, 0px 0px 15px #edf0fc;
  letter-spacing: 0.1em;

  position: relative;
}
article#ask h2::before,
article#ask h2::after {
  content: '';
  width: 10em;
  height: 2px;
  background-color: #edf0fc;
  box-shadow: 0px 0px 10px #fff, 0px 0px 20px #fff, 0px 0px 30px #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
article#ask h2::before {
  top: 0;
}
article#ask h2::after {
  bottom: 0;
}
article#ask section {
  display: flex;
  gap: 7.009vw;
  align-items: center;
  margin-bottom: 37px;
}
article#ask section:last-of-type {
  margin-bottom: 80px;
}
article#ask section:nth-of-type(2) {
  padding-left: 7.476vw;
}
article#ask section .worry_sentence {
  background: #edf0fc;
  width: 40.186vw;
  height: 40.186vw;
  position: relative;
  border-radius: 50%;
  box-shadow: 0px 0px 5px #edf0fc, 0px 0px 25px #edf0fc;
}
article#ask section h3 {
  color: #162d87;
  font-size: 13px;
  font-family: 'NotoSerifJP-SemiBold';
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
article#ask section .worry_img {
  width: 29.439vw;
  height: 29.439vw;
  position: relative;
}
article#ask section .worry_img img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
article#ask section .worry_img .background-blur {
  width: 27.803vw;
  height: 27.803vw;
  background: #fff;
  filter: blur(40px);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.contact_button {
  width: 82.71vw;
  height: 99px;
  border-radius: 40px;
  background: linear-gradient(90deg, #bb83cc 0%, #8f44a6 100%);
  box-shadow: 0px 0px 30px #fff;
}
.contact_button a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 99px;
  display: block;
  letter-spacing: 0.1em;
}
article#introduce .inner > p {
  margin-bottom: 43px;
}
.swiper {
  width: 82.7vw;
}
.swiper-wrapper {
  width: 100%;
  transition-timing-function: linear;
}
.swiper-slide {
  width: 100%;
}
article#introduce section {
  display: flex;
  justify-content: space-between;
}
article#introduce section .face_photo_name {
  width: 40.186vw;
  padding: 8px;
}
article#introduce section .face_photo_name img {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 50%;
}
article#introduce section .face_photo_name h3 {
  font-size: 18px;
  text-align: center;
}
article#introduce section .introduction {
  padding: 21px 8px 0 0;
  width: 39.719vw;
}
article#introduce section .introduction dt {
  font-size: 12px;
  font-family: 'NotoSerifJP-Medium';
  width: 18.691vw;
  line-height: 30px;
  background: linear-gradient(90deg, #1e3cb4 0%, #823c96 100%);
  color: #fff;
  text-align: center;
  margin-bottom: 6px;
}
article#introduce section .introduction dd {
  font-size: 14px;
  margin-bottom: 10px;
}
.article_separator {
  width: 100vw;
  height: 1px;
  background-color: #e6e6e6;
  margin: 0 auto;
}
article#price .base_price {
  margin-bottom: 15px;
}
article#price .base_price dt {
  font-family: 'NotoSerifJP-Medium';
  font-size: 18px;
  letter-spacing: 0.1em;
  color: #1e3cb4;
  margin-bottom: 20px;
  text-align: center;
}
article#price .base_price dt::before {
  content: '<';
}
article#price .base_price dt::after {
  content: '>';
}
article#price .base_price dd {
  display: flex;
  align-items: center;
  justify-content: center;
}
article#price .base_price dd .min {
  background: linear-gradient(90deg, #703582 0%, #bb83cc 100%);
  width: 11.915vw;
  height: 11.915vw;
  line-height: 11.915vw;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-family: 'Lora-Regular', 'NotoSerifJP-Medium';
  border-radius: 50%;
  margin-right: 10px;
}
article#price .base_price dd .min .small {
  font-size: 12px;
}
article#price .base_price dd .price {
  font-family: 'Lora-Regular';
  font-size: 35px;
  letter-spacing: 0.1em;
}
article#price .base_price dd .price .small {
  font-size: 24px;
}
article#price .base_price dd .price .tax_included {
  font-size: 14px;
  letter-spacing: 0.05em;
  font-family: 'NotoSerifJP-Regular';
}
article#price .plus {
  font-family: 'Lora-Regular';
  font-size: 35px;
  text-align: center;
  margin-bottom: 8px;
}
article#price .option_price {
  margin-bottom: 20px;
}
article#price .option_price > dt {
  font-family: 'NotoSerifJP-Medium';
  font-size: 12px;
  color: #fff;
  width: 27.803vw;
  height: 36px;
  border-radius: 10px;
  background: linear-gradient(90deg, #162d87 0%, #6a83e5 100%);
  line-height: 36px;
  text-align: center;
  margin: 0 auto;
  transform: translateY(25%);
}
article#price .option_price > dd {
  background: #edf0fc;
  padding: 30px;
  width: 72.429vw;
  margin: 0 auto;
}
article#price .option_price dd dl {
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
article#price .option_price dd dl:first-of-type {
  padding-bottom: 14.5px;
  border-bottom: 1px solid #cecece;
}
article#price .option_price dd dl:last-of-type {
  padding-top: 14.5px;
}
article#price .option_price dd dl dt {
  width: 42%;
}
article#price .option_price dd dl dd {
  width: 56%;
}
article#price .inner > p {
  font-family: 'NotoSerifJP-Light';
  font-size: 11px;
  width: 72.429vw;
  margin: 0 auto 8px;
}
article#price .inner > p:last-of-type {
  margin-bottom: 72px;
}
article#how_to_use {
  background: #d7def8;
}
article#how_to_use section {
  background: #fff;
  margin: 0 4.906vw 20px;
  padding: 40px 0;
  position: relative;
}
article#how_to_use section::after {
  content: '';
  width: 2px;
  height: 30px;
  background-color: #1e3cb4;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);
}
article#how_to_use section:last-of-type:after {
  content: none;
}
article#how_to_use section:first-of-type {
  border-radius: 40px 40px 0 0;
}
article#how_to_use section:last-of-type {
  border-radius: 0 0 40px 40px;
  margin-bottom: 80px;
}
article#how_to_use section h3 {
  font-family: 'NotoSerifJP-SemiBold';
  font-size: 18px;
  color: #162d87;
  padding-left: 4.906vw;
  margin-bottom: 20px;
}
article#how_to_use section h3 span {
  font-family: 'Lora-Medium';
  font-size: 13px;
  display: block;
  color: #fff;
  width: 18.925vw;
  height: 34px;
  background: linear-gradient(90deg, #162d87 0%, #6a83e5 100%);
  line-height: 34px;
  border-radius: 17px;
  text-align: center;
  margin-bottom: 10px;
  transform: translateX(-4.906vw);
}
article#how_to_use section .action_image {
  margin: 0 auto 5px;
  width: 39.485vw;
  height: 28.271vw;
}
article#how_to_use section .action_image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
article#how_to_use section p {
  font-size: 14px;
  padding-left: 4.906vw;
  margin-bottom: 1em;
}
article#how_to_use section p a {
  color: #162d87;
}
article#how_to_use section p:last-of-type {
  margin-bottom: 0;
}
article#how_to_use section p.small {
  font-size: 12px;
}
footer {
  background: linear-gradient(90deg, #1e3cb4 0%, #823c96 100%);
  padding: 86px 0 25px;
  text-align: center;
  color: #fff;
}
footer .inner > div {
  width: 40.186vw;
  margin: 0 auto;
  margin-bottom: 20px;
}
footer .inner > p {
  font-size: 11px;
  margin-bottom: 61.5px;
}
footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer ul li {
  margin-bottom: 21px;
  border-right: 0.5px solid #fff;
}
footer ul li:nth-last-of-type(2),
ul li:last-of-type {
  border-right: none;
}
footer ul li.contact {
  width: 100%;
  font-family: 'NotoSerifJP-SemiBold';
  font-size: 12px;
  margin-bottom: 60px;
}
footer ul li.contact span {
  background-color: #fff;
  color: #552862;
  border-radius: 50%;
  width: 8.411vw;
  height: 8.411vw;
  display: inline-block;
  line-height: 8.411vw;
  margin-left: 1em;
}
footer ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  padding: 0 1em;
}
footer small {
  font-size: 10px;
}

/* 鑑定申し込みページ(入力、確認、完了共通) */
#contact_main {
  position: relative;
}
#contact_main img {
  filter: brightness(80%);
}
#contact_main h2 {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 8.664vw;
  font-family: 'NotoSerifJP-Bold';
  font-size: 24px;
  transform: translateY(-50%);
  letter-spacing: 0.08em;
}
#contact_main h2 span {
  display: block;
  font-family: 'Lora-SemiBold';
  font-size: 12px;
  margin-bottom: 5px;
  letter-spacing: 0.05em;
}
#progress {
  background-color: #322a33;
  padding: 30px 0;
}
#progress .inner {
  display: flex;
  justify-content: space-between;
}
#progress .inner > div {
  font-family: 'NotoSerifJP-Medium';
  color: rgba(255, 255, 255, 0.3);
}
#progress .inner > div.step {
  color: rgba(255, 255, 255, 1);
}
#progress .inner > div > span {
  font-size: 13px;
  display: block;
  font-family: 'Lora-Medium';
  text-align: center;
  position: relative;
}
#progress .inner > div > span::before {
  content: '';
  width: 17vw;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 50%;
  right: 5em;
}
#progress .inner > div.step > span::before {
  background-color: rgba(255, 255, 255, 1);
}
#progress .inner > div:first-of-type > span::before {
  content: none;
}
.contact form {
  padding: 40px 0 80px;
}
.contact form section {
  margin-bottom: 86px;
}
.contact form section > h3 {
  color: #552862;
  font-family: 'NotoSerifJP-SemiBold';
}
.contact form section > p {
  color: #552862;
  font-family: 'NotoSerifJP-SemiBold';
  margin-bottom: 40px;
}
.contact form section > p > span.required {
  color: #b01f1f;
}
.contact form section dl > dt {
  font-size: 14px;
  font-family: 'NotoSerifJP-Bold';
  position: relative;
}
.contact form section dl > dt.required::after {
  content: '※';
  color: #b01f1f;
  font-size: 0.5em;
  position: absolute;
  top: 0;
}
.contact form section dl > dd {
  margin-bottom: 46px;
}
.contact form input::placeholder {
  color: #8d8d8d;
}
.contact form input[type='text'],
.contact form input[type='email'],
.contact form input[type='tel'] {
  width: 100%;
  border: none;
  border-bottom: 1px solid #707070;
  outline: none;
  padding: 1em 0;
  font-family: 'NotoSerifJP-Regular';
  font-size: 14px;
}
.contact form section > p.small {
  font-size: 13px;
  font-family: 'NotoSerifJP-Regular';
  color: #1a1918;
  letter-spacing: 0;
  padding-top: 10px;
}
.contact form section > p.small .bold {
  font-family: 'NotoSerifJP-Bold';
}

/* チェックボックスのカスタマイズ ここから */
.contact form .checkbox_outer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4px;
}
/* デフォルトのチェックボックスは非表示にする */
.contact form input[type='checkbox'] {
  display: none;
}
/* カスタマイズしたチェックボックス */
.contact form .custom_checkbox {
  display: block;
  position: relative;
  margin: 1em 0;
  padding-left: 28px;
  cursor: pointer;
  user-select: none;

  width: 50%;
  font-size: 14px;
}
/* □ */
.contact form .check_mark {
  position: absolute;
  top: 0; /* 上からの位置 */
  left: 0;
  height: 22px; /* 大きさ */
  width: 22px; /* 大きさ */
  border: solid 1px #707070; /* 線 */
  border-radius: 4px;
  box-sizing: border-box;
}
/* ✓ */
.contact form .check_mark:after {
  content: '';
  position: absolute;
  left: 5px; /* チェックの位置 */
  top: 1px; /* チェックの位置 */
  width: 6px; /* チェックの大きさ */
  height: 10px; /* チェックの大きさ */
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0; /* 透明にしておく */
}
/* チェックが入ったときの□ */
.contact form .custom_checkbox input:checked + .check_mark {
  background: #823c96; /* チェック時の色 */
  border-color: #823c96; /* チェック時の色 */
}
/* チェックが入ったときの✓ */
.custom_checkbox input:checked + .check_mark:after {
  opacity: 1; /* 透明を解除 */
}
/* チェックボックスのカスタマイズ ここまで */

.contact form section > p.extra_small {
  font-size: 10px;
  font-family: 'NotoSerifJP-Regular';
  color: #1a1918;
}
.contact form section h4 {
  font-family: 'NotoSerifJP-Bold';
  font-size: 15px;
  margin-bottom: 1em;
}
.contact form .select_outer {
  padding-top: 7px;
  margin-bottom: 40px;
}
.contact form .select_outer:last-of-type {
  margin-bottom: 82px;
}
.contact form select {
  padding: 8px 1em 8px 0.5em;
  font-family: 'NotoSerifJP-Regular';
  font-size: 14px;
  border: 1px solid #707070;
  border-radius: 5px;
}
.contact form select + span {
  font-size: 14px;
}
.contact form input[type='submit'] {
  margin: 0;
  padding: 0;
  border: 4px solid #1e3cb4;
  width: 100%;
  height: 99px;
  border-radius: 40px;
  font-family: 'NotoSerifJP-SemiBold';
  font-size: 18px;
  background: linear-gradient(90deg, #1e3cb4 0%, #823c96 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  cursor: pointer;
}
/*お申し込みフォーム（確認画面）*/
.contact_confirm form section > h3 {
  margin-bottom: 40px;
}
.contact_confirm form .form_separater {
  margin-bottom: 60px;
}
.contact_confirm form section dl > dd {
  margin-bottom: 26px;
  padding: 1em 0;
  font-size: 14px;
}
.contact_confirm form section dl > dd.margin_none {
  margin-bottom: 0;
}
.contact_confirm form > section > section {
  margin-bottom: 40px;
}
.contact_confirm form > section {
  margin-bottom: 60px;
}
.contact_confirm form input[type='submit'] {
  margin-bottom: 60px;
}
.contact_confirm form input[type='button'] {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'NotoSerifJP-Regular';
  font-size: 18px;
  cursor: pointer;
  background-color: transparent;
  letter-spacing: 0.1em;
  width: 100%;
  padding-left: 15vw;
  position: relative;
}
.contact_confirm form .back_button {
  position: relative;
  text-align: left;
  text-align: left;
  display: inline-block;
  position: relative;
}
.contact_confirm form .back_button::before {
  content: '←';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 12.616vw;
  height: 12.616vw;
  border-radius: 50%;
  background: linear-gradient(90deg, #1e3cb4 0%, #823c96 100%);
  color: #fff;
  line-height: 12.616vw;
  text-align: center;
  font-family: 'NotoSerifJP-Bold';
  font-size: 18px;
}
/*お申し込みフォーム（完了画面）*/
.contact_complete section {
  padding: 61px 0 81px;
}
.contact_complete section h3 {
  font-family: 'NotoSerifJP-Bold';
  font-size: 21px;
  color: #552862;
  margin-bottom: 60px;
  letter-spacing: 0.08em;
  text-align: center;
}
.contact_complete section p {
  line-height: 2;
  margin-bottom: 40px;
}
.contact_complete section p.small {
  font-size: 14px;
}
.contact_complete section .button {
  border: 4px solid #1e3cb4;
  width: 100%;
  height: 99px;
  line-height: 91px;
  border-radius: 40px;
  text-align: center;
}
.contact_complete section .button a {
  display: inline-block;
  text-decoration: none;
  font-family: 'NotoSerifJP-SemiBold';
  font-size: 18px;
  background: linear-gradient(90deg, #1e3cb4 0%, #823c96 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  cursor: pointer;
  letter-spacing: 0.15em;
}

/* TAB用 */
@media screen and (min-width: 600px) {
  .inner {
    width: 79.976vw;
    margin: 0 auto;
  }
  header {
    height: 54px;
  }
  header h1 {
    width: 17.146vw;
    margin: 7px 24px;
  }
  header .btnHamburger {
    display: none;
  }
  header .coverlayer {
    display: none;
  }
  header nav {
    display: block;
    width: 66.786vw;
    margin-right: 24px;
  }
  header nav ul {
    display: flex;
    justify-content: space-between;
    padding: 12px;
  }
  header nav ul li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-family: 'Lora-Medium', 'NotoSerifJP-Medium';
    font-size: 11px;
  }
  header nav ul li.contact a {
    color: #552862;
    background-color: #f4edf6;
    padding: 6.75px 11px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #f4edf6, 0px 0px 20px;
  }
  .topPage #top_main {
    height: 65.41vh;
    background: #000;
  }
  .topPage #top_main h1 {
    width: 36.69vw;
    margin: 0 auto 30px;
  }
  .topPage #top_main p {
    font-size: 20px;
  }
  .topPage #top_main .top_main_movie video {
    width: calc(2156 / 1440 * 65.41vh);
  }
  article#message {
    padding: 60px 0 106px;
  }
  article#message h2 {
    font-size: 32px;
    margin-bottom: 24px;
  }
  article#message .scroll {
    margin-bottom: 24px;
  }
  article#message .scroll::after {
    font-size: 12px;
    left: 52%;
  }
  article#message section h3 {
    font-size: 30px;
    margin-bottom: 50px;
  }
  article#message section p {
    width: 66.426vw;
    margin: 0 auto 1em;
    font-size: 21px;
    letter-spacing: 0.06em;
  }
  article#about_service,
  article#ask,
  article#introduce,
  article#price,
  article#how_to_use {
    padding: 106px 0;
  }
  article#about_service h2,
  article#introduce h2,
  article#price h2,
  article#how_to_use h2 {
    font-size: 32px;
    margin-bottom: 40px;
  }
  article#about_service h2 span,
  article#introduce h2 span,
  article#price h2 span,
  article#how_to_use h2 span {
    font-size: 16px;
  }
  article#about_service p {
    margin-bottom: 103px;
  }
  article#about_service section {
    display: flex;
    justify-content: space-between;
    padding: 77.6px 5.527vw;
  }
  article#about_service section .number {
    font-size: 76px;
  }
  article#about_service section .service_image {
    margin: 0;
    width: 32.254vw;
    height: 24.1vw;
    padding: 11px;
  }
  article#about_service section .service_detail {
    width: 33.693vw;
    margin: 0;
  }
  article#about_service section h3 {
    font-size: 17px;
    margin-bottom: 30px;
  }
  article#about_service section ul li {
    font-size: 14px;
  }
  article#ask .inner {
    padding: 0 13.549vw;
  }
  article#ask h2 {
    font-size: 33px;
    width: 10em;
    padding-top: 22.5px;
    padding-bottom: 22.5px;
    margin-bottom: 71px;
  }
  article#ask section {
    gap: 4.436vw;
    margin-bottom: 58px;
  }
  article#ask section:nth-of-type(2) {
    padding-left: 2.517vw;
  }
  article#ask section .worry_sentence {
    width: 25.419vw;
    height: 25.419vw;
  }
  article#ask section h3 {
    font-size: 16px;
  }
  article#ask section .worry_img {
    width: 20.383vw;
    height: 20.383vw;
  }
  article#ask section .worry_img .background-blur {
    width: 19.064vw;
    height: 19.064vw;
  }
  .contact_button {
    width: 52.757vw;
    margin: 0 auto;
  }
  article#introduce .inner > p {
    margin-bottom: 57px;
  }
  article#introduce section .face_photo_name {
    width: 25.299vw;
    padding: 10px;
  }
  article#introduce section .face_photo_name img {
    margin-bottom: 10px;
  }
  article#introduce section .face_photo_name h3 {
    font-size: 20px;
  }
  article#introduce section .introduction {
    padding: 28px 0 0;
    width: 25.419vw;
  }
  .swiper {
    width: 64.748vw;
  }
  article#introduce section {
    justify-content: center;
    gap: 2.038vw;
  }
  article#introduce section .introduction dt {
    font-size: 15px;
    width: 11.75vw;
    line-height: 40px;
    margin-bottom: 6px;
  }
  article#introduce section .introduction dd {
    font-size: 16px;
    margin-bottom: 1em;
  }
  article#price .base_price {
    margin-bottom: 21px;
  }
  article#price .base_price dt {
    font-size: 24px;
    margin-bottom: 27px;
  }
  article#price .base_price dd .min {
    width: 8.153vw;
    height: 8.153vw;
    line-height: 8.153vw;
    font-size: 20px;
    margin-right: 14px;
  }
  article#price .base_price dd .min .small {
    font-size: 16px;
  }
  article#price .base_price dd .price {
    font-size: 44px;
  }
  article#price .base_price dd .price .small {
    font-size: 30px;
  }
  article#price .plus {
    font-size: 46px;
    margin-bottom: 8px;
    margin-bottom: 14px;
  }
  article#price .option_price > dt {
    font-size: 14px;
    width: 19.064vw;
    height: 47px;
    line-height: 47px;
  }
  article#price .option_price > dd {
    padding: 39px 62px;
    width: 49.04vw;
    margin: 0 auto;
  }
  article#price .option_price dd dl {
    font-size: 16px;
  }
  article#price .inner > p {
    font-size: 12px;
    width: 49.04vw;
  }
  article#how_to_use h2 {
    margin-bottom: 62px;
  }
  article#how_to_use section {
    margin: 0 21.822vw 30px;
    padding: 52px 0 85px;
    position: relative;
  }
  article#how_to_use section .inner {
    width: 100%;
  }
  article#how_to_use section .action_image {
    margin: 0 auto 20px;
    width: 30.695vw;
    height: 19.287vw;
  }
  article#how_to_use section h3 {
    font-size: 22px;
    padding-left: 5.395vw;
    margin-bottom: 18px;
  }
  article#how_to_use section h3 span {
    font-size: 15px;
    width: 13.429vw;
    height: 45px;
    line-height: 45px;
    border-radius: 20px;
    margin-bottom: 13px;
    transform: translateX(-2.517vw);
  }
  article#how_to_use section p {
    font-size: 16px;
    padding: 0 5.395vw;
    margin-bottom: 1em;
  }
  footer {
    padding: 114px 0 40px;
  }
  footer .inner > div {
    width: 25.419vw;
    margin-bottom: 27px;
  }
  footer .inner > p {
    font-size: 14px;
    margin-bottom: 81px;
  }
  footer ul li {
    margin-bottom: 25px;
  }
  footer ul li.contact {
    font-size: 14px;
    margin-bottom: 80px;
  }
  footer ul li.contact span {
    width: 5.155vw;
    height: 5.155vw;
    line-height: 5.155vw;
  }
  footer ul li a {
    font-size: 14px;
  }
  footer small {
    font-size: 12px;
  }
  /* お申し込みページ　共通 */
  #contact_main h2 {
    left: 9.712vw;
    font-size: 32px;
    letter-spacing: 0.1em;
  }
  #contact_main h2 span {
    font-size: 16px;
    margin-bottom: 7px;
  }
  .contact main {
    background: #322a33;
  }
  #progress {
    padding: 78.5px 0;
  }
  #progress .inner > div > span {
    display: inline;
  }
  #progress .inner > div > span::before {
    width: 18.824vw;
    top: 50%;
    right: 5vw;
  }
  .contact .inner {
    width: 80.575vw;
  }
  .contact .contact_form {
    padding-bottom: 80px;
  }
  .contact .contact_form > .inner {
    background: #fff;
    padding: 86px 86px 80px;
  }
  .contact form {
    padding: 0;
  }
  .contact form section:first-of-type > h3 {
    display: inline-block;
  }
  .contact form section:first-of-type > p {
    display: inline-block;
  }
  .contact form section dl > dd {
    margin-bottom: 40px;
  }
  .contact form section:last-of-type {
    margin-bottom: 160px;
  }
  .contact form input[type='submit'] {
    width: 42.446vw;
    margin-left: 8.752vw;
  }
  /* お申し込みページ　確認画面 */
  .contact_confirm form input[type='button'] {
    padding-left: 8vw;
    margin-left: 6vw;
  }
  .contact_confirm form .back_button::before {
    width: 6.474vw;
    height: 6.474vw;
    line-height: 6.474vw;
    left: 8.752vw;
  }
  /*お申し込みフォーム（完了画面）*/
  .contact_complete section {
    padding: 0;
  }
  .contact_complete section:last-of-type p {
    margin-bottom: 86px;
  }
  .contact_complete section .button {
    width: 42.446vw;
    margin-left: 8.752vw;
  }
}

/* PC用 */
@media screen and (min-width: 960px) {
  .br_sp {
    display: none;
  }
  .inner {
    width: 960px;
  }
  header h1 {
    width: 143px;
  }
  header nav {
    width: 557px;
    margin-right: 60px;
  }
  .topPage #top_main {
    height: 100%;
  }
  .topPage #top_main .top_main_movie {
    height: 100%;
    align-items: center;
  }
  .topPage #top_main .top_main_movie video {
    width: auto;
    /* 横いっぱい */
    height: calc(1440 / 2156 * 100vw);
  }
  .topPage #top_main h1 {
    width: 306px;
  }
  article#message section p {
    width: 797px;
  }
  article#about_service section {
    padding: 66.6px 81.4px;
  }
  article#about_service section .service_image {
    width: 311px;
    height: 233px;
    padding: 13px;
  }
  article#about_service section .service_detail {
    width: 376px;
  }
  article#ask .inner {
    padding: 0;
  }
  article#ask h2 {
    width: 17em;
    margin-bottom: 80px;
  }
  article#ask h2::before,
  article#ask h2::after {
    width: 20em;
  }
  article#ask .worry_content {
    display: flex;
    width: 924px;
    justify-content: space-between;
    margin-bottom: 85px;
  }
  article#ask section .worry_sentence {
    width: 212px;
    height: 212px;
  }
  article#ask section .worry_img {
    width: 170px;
    height: 170px;
  }
  article#ask section .worry_img .background-blur {
    width: 159px;
    height: 159px;
  }
  article#ask section {
    flex-direction: column;
    gap: 5px;
    margin-bottom: 0;
  }
  article#ask section:nth-of-type(odd) {
    flex-direction: column-reverse;
  }
  article#ask section:nth-of-type(2) {
    padding-left: 0;
  }
  article#ask section:last-of-type {
    margin-bottom: 0;
  }
  .contact_button {
    width: 440px;
    margin: 0 auto;
  }
}
