@charset "UTF-8";
/* CSS Document */
@font-face {
  font-family: 'Lora-Bold';
  src: url('../font/Lora-Bold.ttf');
}
@font-face {
  font-family: 'Lora-Italic';
  src: url('../font/Lora-Italic.ttf');
}
@font-face {
  font-family: 'Lora-Medium';
  src: url('../font/Lora-Medium.ttf');
}
@font-face {
  font-family: 'Lora-Regular';
  src: url('../font/Lora-Regular.ttf');
}
@font-face {
  font-family: 'Lora-SemiBold';
  src: url('../font/Lora-SemiBold.ttf');
}
@font-face {
  font-family: 'NotoSerifJP-Bold';
  src: url('../font/NotoSerifJP-Bold.otf');
}
@font-face {
  font-family: 'NotoSerifJP-Light';
  src: url('../font/NotoSerifJP-Light.otf');
}
@font-face {
  font-family: 'NotoSerifJP-Medium';
  src: url('../font/NotoSerifJP-Medium.otf');
}
@font-face {
  font-family: 'NotoSerifJP-Regular';
  src: url('../font/NotoSerifJP-Regular.otf');
}
@font-face {
  font-family: 'NotoSerifJP-SemiBold';
  src: url('../font/NotoSerifJP-SemiBold.otf');
}
* {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  color: #1a1918;
  font-family: 'Lora-Regular', 'NotoSerifJP-Regular', serif;
  background: #fff;
  line-height: 1.5;
  letter-spacing: 0.05em;
  -webkit-text-size-adjust: 100%;
}
img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

.inner {
  width: 82.71vw;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 80px;
  background-color: #777;
  display: flex;
  justify-content: space-between;
}
header h1 {
  width: 35.747%;
  margin: 20px;
  height: 40px;
}
header .coverlayer {
  opacity: 0;
}
header .btnHamburger {
  position: relative;
  width: 34px;
  height: 20px;
  margin: 30px 20px 0 0;
  cursor: pointer;
}
header .btnHamburger .line {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 34px; /* 横幅 */
  height: 1px; /* 1本辺りの高さ */
  background: #fff; /* 線の色 */
  /* 適用するプロパティ、変化する時間、変化する速度 */
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* 3本線の各線の位置を指定 */
header .btnHamburger .line_01 {
  top: 0;
}
header .btnHamburger .line_02 {
  top: 10px;
}
header .btnHamburger .line_03 {
  top: 20px;
}
nav {
  display: none;
}
.topPage #top_main {
  width: 100%;
  height: 84.806vh;
  position: relative;
}
.topPage #top_main .top_main_movie {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.topPage #top_main .top_main_movie video {
  /* 縦いっぱい sp, tablet */
  width: calc(2156 / 1440 * 84.806vh);
  filter: brightness(55%);
}
.topPage #top_main .inner {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 8.644%;
  transform: translateY(-50%);
}
.topPage #top_main h1 {
  margin-bottom: 57px;
}
.topPage #top_main p {
  color: #fff;
  font-size: 18px;
  font-family: 'NotoSerifJP-SemiBold';
}

article#message {
  background: linear-gradient(#6a387a 0%, #eadcee 100%);
  padding: 30px 0 80px;
}
article#message h2 {
  font-size: 24px;
  color: #eadcee;
  font-family: 'Lora-SemiBold';
  text-align: center;
  letter-spacing: 0.1em;
  margin-bottom: 17.5px;
}
article#message .scroll {
  margin-bottom: 49.5px;
  text-align: center;
  position: relative;
}
article#message .scroll_line {
  stroke-dasharray: 47px;
  animation: strokeLine 3.2s linear infinite;
}
article#message .scroll::after {
  content: 'scroll';
  color: #eadcee;
  font-size: 10px;
  font-family: 'Lora-SemiBold';
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translateY(-50%);
}
@keyframes strokeLine {
  0% {
    stroke-dashoffset: 47px;
  }
  80% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
article#message section h3 {
  font-size: 23px;
  text-align: center;
  font-family: 'NotoSerifJP-Bold';
  margin-bottom: 40px;
  color: #552862;
  letter-spacing: 0.05em;
  text-shadow: 0px 0px 15px #fff, 0px 0px 30px #fff;
}
article#message section p {
  color: #552862;
  font-family: 'NotoSerifJP-Medium';
  letter-spacing: 0.05em;
  margin-bottom: 1em;
  text-shadow: 0px 0px 15px #fff, 0px 0px 30px #fff;
}
article#about_service,
article#ask,
article#introduce,
article#price,
article#how_to_use {
  padding: 80px 0;
}
article#about_service h2,
article#introduce h2,
article#price h2,
article#how_to_use h2 {
  font-family: 'NotoSerifJP-Bold';
  font-size: 24px;
  color: #552862;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
}
article#about_service h2 span,
article#introduce h2 span,
article#price h2 span,
article#how_to_use h2 span {
  display: block;
  font-size: 12px;
  font-family: 'Lora-SemiBold';
  letter-spacing: 0.05em;
}
article#about_service {
  background-color: #eadcee;
}
article#about_service p {
  margin-bottom: 76px;
}
article#about_service section {
  background-color: #fff;
  padding: 50px 55.5px;
  margin-bottom: 71px;
  position: relative;
}
article#about_service section:last-of-type {
  margin-bottom: 0;
}
article#about_service section .number {
  font-size: 57px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-60%);
  font-family: 'Lora-Italic';
  display: inline-block;
  background: linear-gradient(145deg, #1e3cb4 0%, #6a83e5 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
article#about_service section .service_image {
  margin-bottom: 20px;
  width: 56.775vw;
  height: 41.121vw;
}
article#about_service section .service_image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
article#about_service section h3 {
  text-align: center;
  font-size: 18px;
  font-family: 'NotoSerifJP-SemiBold';
  margin-bottom: 20px;
  letter-spacing: 0.04em;
}
article#about_service section ul li {
  font-size: 13px;
  margin-bottom: 1em;
  background: url('../images/about_service/list-point.svg') left 0px top 0px no-repeat;
  background-size: 20px auto;
  padding-left: 2em;
}
article#ask {
  background: #162d87;
}
article#ask h2 {
  color: #d7def8;
  font-size: 25px;
  font-family: 'NotoSerifJP-Bold';
  text-align: center;
  width: 9em;
  padding: 10px 0;
  margin: 0 auto 60.5px;
  text-shadow: 0px 0px 10px #edf0fc, 0px 0px 15px #edf0fc;
  letter-spacing: 0.1em;

  position: relative;
}
article#ask h2::before,
article#ask h2::after {
  content: '';
  width: 10em;
  height: 2px;
  background-color: #edf0fc;
  box-shadow: 0px 0px 10px #fff, 0px 0px 20px #fff, 0px 0px 30px #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
article#ask h2::before {
  top: 0;
}
article#ask h2::after {
  bottom: 0;
}
article#ask section {
  display: flex;
  gap: 7.009vw;
  align-items: center;
  margin-bottom: 37px;
}
article#ask section:last-of-type {
  margin-bottom: 80px;
}
article#ask section:nth-of-type(2) {
  padding-left: 7.476vw;
}
article#ask section .worry_sentence {
  background: #edf0fc;
  width: 40.186vw;
  height: 40.186vw;
  position: relative;
  border-radius: 50%;
  box-shadow: 0px 0px 5px #edf0fc, 0px 0px 25px #edf0fc;
}
article#ask section h3 {
  color: #162d87;
  font-size: 13px;
  font-family: 'NotoSerifJP-SemiBold';
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
article#ask section .worry_img {
  width: 29.439vw;
  height: 29.439vw;
  position: relative;
}
article#ask section .worry_img img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
article#ask section .worry_img .background-blur {
  width: 119px;
  height: 119px;
  background: #fff;
  filter: blur(40px);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.contact_button {
  width: 82.71vw;
  height: 99px;
  border-radius: 40px;
  background: linear-gradient(90deg, #bb83cc 0%, #8f44a6 100%);
  box-shadow: 0px 0px 30px #fff;
}
.contact_button a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 99px;
  display: block;
  letter-spacing: 0.1em;
}
article#introduce .inner > p {
  margin-bottom: 43px;
}
article#introduce section {
  display: flex;
  justify-content: space-between;
}
article#introduce section .face_photo_name {
  width: 40.186vw;
  padding: 8px;
}
article#introduce section .face_photo_name img {
  width: 100%;
  margin-bottom: 5px;
}
article#introduce section .face_photo_name h3 {
  font-size: 18px;
  text-align: center;
}
article#introduce section .introduction {
  padding: 21px 8px 0 0;
  width: 39.719vw;
}
article#introduce section .introduction dt {
  font-size: 12px;
  font-family: 'NotoSerifJP-Medium';
  width: 18.691vw;
  line-height: 30px;
  background: linear-gradient(90deg, #1e3cb4 0%, #823c96 100%);
  color: #fff;
  text-align: center;
  margin-bottom: 6px;
}
article#introduce section .introduction dd {
  font-size: 14px;
  margin-bottom: 10px;
}
.article_separator {
  width: 100vw;
  height: 1px;
  background-color: #e6e6e6;
  margin: 0 auto;
}
article#price .base_price {
  margin-bottom: 15px;
}
article#price .base_price dt {
  font-family: 'NotoSerifJP-Medium';
  font-size: 18px;
  letter-spacing: 0.1em;
  color: #1e3cb4;
  margin-bottom: 20px;
  text-align: center;
}
article#price .base_price dt::before {
  content: '<';
}
article#price .base_price dt::after {
  content: '>';
}
article#price .base_price dd {
  display: flex;
  align-items: center;
  justify-content: center;
}
article#price .base_price dd .min {
  background: linear-gradient(90deg, #703582 0%, #bb83cc 100%);
  width: 11.915vw;
  height: 11.915vw;
  line-height: 11.915vw;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-family: 'Lora-Regular', 'NotoSerifJP-Medium';
  border-radius: 50%;
  margin-right: 10px;
}
article#price .base_price dd .min .small {
  font-size: 12px;
}
article#price .base_price dd .price {
  font-family: 'Lora-Regular';
  font-size: 35px;
  letter-spacing: 0.1em;
}
article#price .base_price dd .price .small {
  font-size: 24px;
}
article#price .base_price dd .price .tax_included {
  font-size: 14px;
  letter-spacing: 0.05em;
  font-family: 'NotoSerifJP-Regular';
}
article#price .plus {
  font-family: 'Lora-Regular';
  font-size: 35px;
  text-align: center;
  margin-bottom: 8px;
}
article#price .option_price {
  margin-bottom: 20px;
}
article#price .option_price > dt {
  font-family: 'NotoSerifJP-Medium';
  font-size: 12px;
  color: #fff;
  width: 27.803vw;
  height: 36px;
  border-radius: 10px;
  background: linear-gradient(90deg, #162d87 0%, #6a83e5 100%);
  line-height: 36px;
  text-align: center;
  margin: 0 auto;
  transform: translateY(25%);
}
article#price .option_price > dd {
  background: #edf0fc;
  padding: 30px;
  width: 72.429vw;
  margin: 0 auto;
}
article#price .option_price dd dl {
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
}
article#price .option_price dd dl:first-of-type {
  padding-bottom: 14.5px;
  border-bottom: 1px solid #cecece;
}
article#price .option_price dd dl:last-of-type {
  padding-top: 14.5px;
}
article#price .option_price dd dl dt {
  width: 41%;
}
article#price .inner > p {
  font-family: 'NotoSerifJP-Light';
  font-size: 11px;
  width: 72.429vw;
  margin: 0 auto 8px;
}
article#price .inner > p:last-of-type {
  margin-bottom: 72px;
}
article#how_to_use {
  background: #d7def8;
}
article#how_to_use section {
  background: #fff;
  margin: 0 3.971vw 20px;
  padding: 40px 0;
  position: relative;
}
article#how_to_use section::after {
  content: '';
  width: 2px;
  height: 30px;
  background-color: #1e3cb4;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);
}
article#how_to_use section:last-of-type:after {
  content: none;
}
article#how_to_use section:first-of-type {
  border-radius: 40px 40px 0 0;
}
article#how_to_use section:last-of-type {
  border-radius: 0 0 40px 40px;
  margin-bottom: 80px;
}
article#how_to_use section h3 {
  font-family: 'NotoSerifJP-SemiBold';
  font-size: 18px;
  color: #162d87;
  padding-left: 4.906vw;
  margin-bottom: 20px;
}
article#how_to_use section h3 span {
  font-family: 'Lora-Medium';
  font-size: 13px;
  display: block;
  color: #fff;
  width: 18.925vw;
  height: 34px;
  background: linear-gradient(90deg, #162d87 0%, #6a83e5 100%);
  line-height: 34px;
  border-radius: 17px;
  text-align: center;
  margin-bottom: 10px;
  transform: translateX(-4.906vw);
}
article#how_to_use section .action_image {
  margin: 0 auto 5px;
  width: 39.485vw;
  height: 28.271vw;
}
article#how_to_use section .action_image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
article#how_to_use section p {
  font-size: 14px;
  padding-left: 4.906vw;
  margin-bottom: 1em;
}
article#how_to_use section p a {
  color: #162d87;
}
article#how_to_use section p:last-of-type {
  margin-bottom: 0;
}
article#how_to_use section p.small {
  font-size: 12px;
}

/* TAB用 */
@media screen and (min-width: 600px) {
}

/* PC用 */
@media screen and (min-width: 960px) {
  .topPage #top_main {
    background-color: #000;
  }
  .topPage #top_main .top_main_movie {
    height: 100%;
    align-items: center;
  }
  .topPage #top_main .top_main_movie video {
    /* 縦いっぱい sp, tablet */
    /* width: calc(2156 / 1440 * 84.806vh); */
    width: auto;
    /* 横いっぱい labtop */
    height: calc(1440 / 2156 * 100vw);
  }
}
